.view {
  position: absolute;
  pointer-events: none;
}
.viewScaler {
  position: absolute;
  pointer-events: none;
}
.iframeContainer{
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: 0px;
  pointer-events: all;
}
.imageContainer{
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: 0px;
  pointer-events: all;
}
